@font-face {
    src: url('../font/NotoSansKR-Bold.otf') format('opentype');
    font-family: 'noto_bold';
    font-weight: 400;
}

@font-face {
    src: url('../font/NotoSansKR-Medium.otf') format('opentype');
    font-family: 'noto_medium';
    font-weight: 300;
}

@font-face {
    src: url('../font/NotoSansKR-Regular.otf') format('opentype');
    font-family: 'noto_regular';
    font-weight: 200;
}

@font-face {
    src: url('../font/NotoSansKR-Light.otf') format('opentype');
    font-family: 'noto_light';
    font-weight: 100;
}

@font-face {
    src: url('../font/Roboto-Bold.ttf') format('opentype');
    font-family: 'roboto_bold';
    font-weight: 300;
}

@font-face {
    src: url('../font/Roboto-Medium.ttf') format('opentype');
    font-family: 'roboto_medium';
    font-weight: 200;
}

@font-face {
    src: url('../font/Roboto-Regular.ttf') format('opentype');
    font-family: 'roboto_regular';
    font-weight: 100;
}

@font-face {
    src: url('../font/NotoSerif-Bold.ttf') format('opentype');
    font-family: 'serif_bold';
    font-weight: 200;
}

@font-face {
    src: url('../font/NotoSerif-Italic.ttf') format('opentype');
    font-family: 'serif_italic';
    font-weight: 100;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #faebd7;
}

header,
section {
    width: 100%;
    padding: 0 300px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

a {
    color: inherit;
    display: block;
}

li {
    display: inline-block;
}

h6 {
    display: none;
}

hr {
    color: black;
}

/*header style*/
header {
    width: 100%;
    height: 95px;
    padding-top: 20px;
    position: fixed;
    z-index: 10;
    border: none;
    justify-content: space-between;
    align-items: baseline;
}

header:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

header img {
    cursor: pointer;
}

#hambuger {
    z-index: 10;
    cursor: pointer;
}

#hambuger div {
    width: 30px;
    height: 2px;
    background: white;
    margin-bottom: 10px;
    transition-duration: 0.5s;
}

#hambuger input {
    display: none;
}

#hambuger input:checked + div {
    transform: translateY(12px) rotate(45deg);
    transform-origin: center;
}

#hambuger input:checked + div + div {
    opacity: 0;
}

#hambuger input:checked + div + div + div {
    transform: translateY(-12px) rotate(-45deg);
    transform-origin: center;
}

/* menu on */

.menu_on {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
    transition-duration: 1s;
    transform: translateX(100%);
}

.menu_on.active {
    transform: translateX(0);
}

.menu {
    position: absolute;
    top: 375px;
    left: 300px;
    z-index: 2;
    font-size: 50px;
    font-family: 'serif_bold';
}

.menu li {
    display: block;
}

.menu a {
    margin-bottom: 98px;
    color: #808080;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    display: inline-block;
}

.menu a:hover {
    color: white;
    opacity: 1;
    border-bottom: 2px solid white;
}

section {
    flex-direction: column;
}

h1 {
    display: inline;
    margin-top: 120px;
    margin-bottom: 5px;
    font-size: 3rem;
    font-family: 'serif_bold';
}

.submenu {
    margin-bottom: 28px;
}

.submenu li {
    margin-right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2px;
    font-family: 'serif_italic';
}

li.select {
    border-bottom: 1px solid black;
}

.line {
    /*width: 100%;*/
    min-width: 100%;
    height: 1px;
    border: 1px solid black;
    margin-bottom: 20px;
}

/* ===== slide 관련 CSS ===== */

.product_slide {
    /*min-width: 65.625rem;*/
    width: 900px;
    height: 200px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slides {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 4000px;
    transition: left 0.5s ease-out;
}

.slides.off {
    transition: none;

}

.slides li:first-child {
    margin-left: 50px;
}

.slides li:not(:last-child){
    margin-right: 100px;
}

.slides li:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.slides img {
    width: 200px;
    cursor: pointer;
}

.controller span {
    position: absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* ===== product 관련 CSS ==== */

article {
    width: 65.625rem;
    margin: 0 auto;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product > img {
    max-width: 25rem;
    margin-right: 7.5rem;
}

.product_text {
    max-width: 20rem;
}

.product_text > h2 {
    font-family: noto_medium;
    margin-bottom: 2rem;
    font-size: 2rem;
    word-break: keep-all;
}

.product_text > p {
    font-family: noto_light;
    line-height: 1.125rem;
    letter-spacing: -1px;
    word-break: keep-all;
}

