<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="/static/css/newsPage.css" th:href="@{/css/newsPage.css}">
    <script src="/static/js/newsPage.js" th:src="@{/js/newsPage.js}" defer></script>
</head>
<body>
    <header class="padding_lr_300">
        <a href="main.html" th:href="@{/main}"><img src="/static/img/main/Maxim_logo.png" th:src="@{/img/main/Maxim_logo.png}" alt="logo"></a>
        <label id="hambuger">
            <input type="checkbox">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>
    <nav class="menu_on">
        <ul class="menu">
            <li><a href='about.html' th:href="@{/about}">ABOUT MAXIM</a></li>
            <li><a href='product.html' th:href="@{/product}">PRODUCT</a></li>
            <li><a href='news.html' th:href="@{/news}">NEWS & MEDIA</a></li>
        </ul>
    </nav>
    <input id="news_no" type="hidden" th:value="${num}">
    <section>
        <article class="news">
            <h1 class="title">title</h1>
            <p class="since">since</p>
            <img src="/img/news/content/15.jpg" alt="news_img" class="news_img">
            <h2 class="sub_title">sub_title</h2>
            <div class="lead_box">
                <h4 class="lead">lead</h4>
            </div>
            <p class="content">content</p>
        </article>
    </section>
</body>
</html>