<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>NEWS&MEDIA</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="/static/css/news.css" th:href="@{/css/news.css}">
    <link rel="stylesheet" href="/static/css/header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="/static/js/news.js" th:src="@{/js/news.js}" defer></script>
    <script src="/static/js/header.js" th:src="@{/js/header.js}" defer></script>
</head>

<body>
<header th:replace="~{header :: header}"></header>
<section>
    <h1>NEWS&MEDIA</h1>
    <div class="line"></div>
    <ul class="submenu">
        <li th:name="news" th:onclick="location.href = '/news?category=news'">NEWS</li>
        <li th:name="media" th:onclick="location.href = '/news?category=media'">MEDIA</li>
    </ul>
    <article id="contents_container">
    </article>
</section>
</body>
</html>
