<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>PRODUCT</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="/static/css/product.css" th:href="@{/css/product.css}">
    <link rel="stylesheet" href="/static/css/header.css" th:href="@{/css/header.css}">
    <script defer src="/static/js/product.js" th:src="@{/js/product.js}"></script>
    <script defer src="/static/js/header.js" th:src="@{/js/header.js}"></script>
</head>

<body>
    <header th:replace="~{header :: header}"></header>
    <section>
        <h1>PRODUCT</h1>
        <div class="line"></div>
        <ul class="submenu">
            <li th:name="maxim"><a href="/product?category=maxim" th:href="@{/product?category=maxim}">MAXIM</a></li>
            <li th:name="kanu"><a href="/product?category=kanu" th:href="@{/product?category=kanu}">KANU</a></li>
            <li th:name="top"><a href="/product?category=top" th:href="@{/product?category=top}">T.O.P</a></li>
        </ul>
        <article>
            <div class="product_slide">
                <ul class="slides">
                </ul>
                <p class="controller">
                    <span class="prev">&lang;</span>
                    <span class="next">&rang;</span>
                </p>
            </div>
            <div class="product">
                <img src="" alt="">
                <div class="product_text">
                    <h2></h2>
                    <p></p>
                </div>
            </div>
        </article>
    </section>
</body>

</html>
